CLIENTE-WEBSERVICE/src/META-INF/wsdl/localhost_8080/SERVER-WEBSERVICE/TrabalhoWebService_Server.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="TrabalhoWebService_Server">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/SERVER-WEBSERVICE/TrabalhoWebService_Server?xsd=1"/>
</xsd:schema>
</types>
<message name="removerAssociado">
<part name="parameters" element="tns:removerAssociado"/>
</message>
<message name="removerAssociadoResponse">
<part name="parameters" element="tns:removerAssociadoResponse"/>
</message>
<message name="inserirAssociado">
<part name="parameters" element="tns:inserirAssociado"/>
</message>
<message name="inserirAssociadoResponse">
<part name="parameters" element="tns:inserirAssociadoResponse"/>
</message>
<message name="inserirDisco">
<part name="parameters" element="tns:inserirDisco"/>
</message>
<message name="inserirDiscoResponse">
<part name="parameters" element="tns:inserirDiscoResponse"/>
</message>
<message name="removerDisco">
<part name="parameters" element="tns:removerDisco"/>
</message>
<message name="removerDiscoResponse">
<part name="parameters" element="tns:removerDiscoResponse"/>
</message>
<message name="alugaDisco">
<part name="parameters" element="tns:alugaDisco"/>
</message>
<message name="alugaDiscoResponse">
<part name="parameters" element="tns:alugaDiscoResponse"/>
</message>
<message name="devolveDisco">
<part name="parameters" element="tns:devolveDisco"/>
</message>
<message name="devolveDiscoResponse">
<part name="parameters" element="tns:devolveDiscoResponse"/>
</message>
<message name="pesquisaDiscoGrupoMusico">
<part name="parameters" element="tns:pesquisaDiscoGrupoMusico"/>
</message>
<message name="pesquisaDiscoGrupoMusicoResponse">
<part name="parameters" element="tns:pesquisaDiscoGrupoMusicoResponse"/>
</message>
<message name="pesquisaDiscoEstiloMusica">
<part name="parameters" element="tns:pesquisaDiscoEstiloMusica"/>
</message>
<message name="pesquisaDiscoEstiloMusicaResponse">
<part name="parameters" element="tns:pesquisaDiscoEstiloMusicaResponse"/>
</message>
<message name="pesquisaDiscoTitulo">
<part name="parameters" element="tns:pesquisaDiscoTitulo"/>
</message>
<message name="pesquisaDiscoTituloResponse">
<part name="parameters" element="tns:pesquisaDiscoTituloResponse"/>
</message>
<portType name="WS_DB_GESTOR">
<operation name="removerAssociado">
<input wsam:Action="http://server/WS_DB_GESTOR/removerAssociadoRequest" message="tns:removerAssociado"/>
<output wsam:Action="http://server/WS_DB_GESTOR/removerAssociadoResponse" message="tns:removerAssociadoResponse"/>
</operation>
<operation name="inserirAssociado">
<input wsam:Action="http://server/WS_DB_GESTOR/inserirAssociadoRequest" message="tns:inserirAssociado"/>
<output wsam:Action="http://server/WS_DB_GESTOR/inserirAssociadoResponse" message="tns:inserirAssociadoResponse"/>
</operation>
<operation name="inserirDisco">
<input wsam:Action="http://server/WS_DB_GESTOR/inserirDiscoRequest" message="tns:inserirDisco"/>
<output wsam:Action="http://server/WS_DB_GESTOR/inserirDiscoResponse" message="tns:inserirDiscoResponse"/>
</operation>
<operation name="removerDisco">
<input wsam:Action="http://server/WS_DB_GESTOR/removerDiscoRequest" message="tns:removerDisco"/>
<output wsam:Action="http://server/WS_DB_GESTOR/removerDiscoResponse" message="tns:removerDiscoResponse"/>
</operation>
<operation name="alugaDisco">
<input wsam:Action="http://server/WS_DB_GESTOR/alugaDiscoRequest" message="tns:alugaDisco"/>
<output wsam:Action="http://server/WS_DB_GESTOR/alugaDiscoResponse" message="tns:alugaDiscoResponse"/>
</operation>
<operation name="devolveDisco">
<input wsam:Action="http://server/WS_DB_GESTOR/devolveDiscoRequest" message="tns:devolveDisco"/>
<output wsam:Action="http://server/WS_DB_GESTOR/devolveDiscoResponse" message="tns:devolveDiscoResponse"/>
</operation>
<operation name="pesquisaDiscoGrupoMusico">
<input wsam:Action="http://server/WS_DB_GESTOR/pesquisaDiscoGrupoMusicoRequest" message="tns:pesquisaDiscoGrupoMusico"/>
<output wsam:Action="http://server/WS_DB_GESTOR/pesquisaDiscoGrupoMusicoResponse" message="tns:pesquisaDiscoGrupoMusicoResponse"/>
</operation>
<operation name="pesquisaDiscoEstiloMusica">
<input wsam:Action="http://server/WS_DB_GESTOR/pesquisaDiscoEstiloMusicaRequest" message="tns:pesquisaDiscoEstiloMusica"/>
<output wsam:Action="http://server/WS_DB_GESTOR/pesquisaDiscoEstiloMusicaResponse" message="tns:pesquisaDiscoEstiloMusicaResponse"/>
</operation>
<operation name="pesquisaDiscoTitulo">
<input wsam:Action="http://server/WS_DB_GESTOR/pesquisaDiscoTituloRequest" message="tns:pesquisaDiscoTitulo"/>
<output wsam:Action="http://server/WS_DB_GESTOR/pesquisaDiscoTituloResponse" message="tns:pesquisaDiscoTituloResponse"/>
</operation>
</portType>
<binding name="WS_DB_GESTORPortBinding" type="tns:WS_DB_GESTOR">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removerAssociado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirAssociado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserirDisco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerDisco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="alugaDisco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolveDisco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pesquisaDiscoGrupoMusico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pesquisaDiscoEstiloMusica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pesquisaDiscoTitulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TrabalhoWebService_Server">
<port name="WS_DB_GESTORPort" binding="tns:WS_DB_GESTORPortBinding">
<soap:address location="http://localhost:8080/SERVER-WEBSERVICE/TrabalhoWebService_Server"/>
</port>
</service>
</definitions>